<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Box</title>
    <link rel= "icon" type="image/jpeg" href="/home/image/logo.jpeg" >
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>
    <div class="loginContainer">
       <div class="formContainer sign-up">
        <h2 class="">Login</h2>
            <form action="/login" method="post">
                
                <div class="formGroup">
                   
                    
                    <input type="text" placeholder="Username" class="name" name="username">
                </div>
                <div class="inputName">
                   
                 <input type="password" placeholder="password" class="text-name" name="password">
                </div>
                <!-- <div class="forgotPass">
                    <a href="#">forgot password?</a>
                </div> -->
                <button type="submit" class="btn">login</button>
                <div class="link">
                    <a href="signup" class="signupLink"> Signup</a>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>